/* App.css */
.container {
  text-align: center;
  margin-top: 50px;
  
}

.counter h1,
.greeting-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #e99af9;
  background-color: #e99af9;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #fb35f1;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p {
  font-size: 20px;
  margin-top: 20px;
  color: #f2eded;
}
